/*Home stylesheet */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
  font: 16px/1 'Do Hyeon', sans-serif;
  /*background:transparent;*/
  background-color: #FFEFD5;
  overflow-y: scroll !important;
  overflow-x: hidden;
  color: black;
}

h1 {
  padding: 10px 5px 0px 5px;
  font-weight: 700;
  text-align: left;
  font: 37px/1 'Do Hyeon', sans-serif;
  margin-bottom: 7px;
  margin-left: 10%;
  margin-top: 0px;
  padding-top: 4px;
  color: black;
}

.logo{
  height: 7%;
  width: 4%;

}

.viz-container{
  display: grid;
  grid-template-columns: 68% 32%;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: center;
}

.item2{
  grid-column-start: 2;
  grid-column-end: 2;
}

.roundcorners{
  /*background-color: lightgray;*/
  border-radius: 5px;
}

button {
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #F5DEB3; /* Green */
  color: black;


}

button:hover {
  background-color: #FF8C00;
  color: black;
}

